*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    background-image: url(bgsection1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1400px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;
    height: 84px;
}

.nav>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.nav>a:hover {
  border-bottom: solid 1px #535353;
  color: #535353;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-left: 140px;
}

.header-div2{
    display: flex;
    align-items: center;
}

.header-div1{
    transition: transform 0.5s ease;
}

.header-div1:hover{
    transform: scale(1.2);
}


#input{
    height: 30px;
    border-bottom: solid 2px black;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 0 10px 10px;
    transition: all 0.3s ease-in-out;
}

#input:hover{
    background-color: #afafaf;
    border-radius: 10px;
}

#input::placeholder{
    font-weight: 400;
    color: black;
    font-size: 18px;
}


#input:focus {
    outline: none;
    border-bottom: solid 2px black; 
}

.header-div3>input{
    border: none;
}
.section2{
    background-color: #e6e1e3;
    height: 600px;
    width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section2-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section2-right{
    display: flex;
    align-items: center;
}

.section2-left-1{
    font-size: 20px;
    font-weight:550;
    width: 440px;
}

.section2-left-2{
    font-size: 18px;
    color: #535353;
    width: 440px;
    line-height: 1.8;
    margin: 15px 0;
}

.section2-left>div{
    width: 440px;
}

.section2-left>div>button{
    height: 50px;
    width: 120px;
    border: none;
    background-color: #D9CBAE;
}

.section3{
    background-color: #e6e1e3;
    width: 1400px;
    height: 700px;
    padding: 30px 100px 50px 100px;
}

.section3>h2{
    padding-bottom: 35px;
    text-align: center;
}

.section3-body{
    display: flex;
    
}

.section3-body-1{
    width: 500px;
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(robezara2.jpg);
    margin-right: 10px;
    border-radius: 10px;
}

.section3-body-2{
    width: 600px;
    height: 480px;
}

.section3-body-2>div{
    width: 600px;
    height: 50%;
}

.section3-body-2-1{
     width: 500px;
    height: 235px;
    background-image: url(uni.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 10px;
    background-position-y:65%;
    border-radius: 10px;
}

.section3-body-2-2{
     width: 500px;
    height: 235px;
    background-image: url(imgg.jpg);
    background-size: cover;
    background-position-y:15%;
    border-radius: 10px;
}

.ppp{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.section4{
    height: 250px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(bgsection4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#input1{
    height: 30px;
    border-bottom: solid 2px black;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 0 10px 10px;
    margin-top: 20px;
    
}

#input1::placeholder{
    font-weight: 400;
    color: black;
    font-size: 18px;
}


#input1:focus {
    outline: none;
    border-bottom: solid 2px black; 
}

.section4>input{
    border: none;
    width: 400px;
}

.section5{
    height: 350px;
    width: 1400px;
    background-color: #e6e1e3;
}

.section5>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 262px;
}

.section5>h2{
    text-align: center;
    padding: 50px 0 10px 0;
}

figcaption{
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

footer{
    background-color: #E1DAD1;
    width: 1400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#nav1>a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    padding: 0 15px;
}

#nav2>a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}

#nav2>li{
    list-style: none;
}

#nav2{
    display: flex;
    align-items: center;
    gap: 15px;
}